body{   font-family: 'Poppins', sans-serif;}
h1{ font-size: 50px;}
.blue{
    color: rgb(192, 241, 14);
}
.half-width{
    
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 70%;
}
.flexible-container{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    
}
.half-width{
    width: 50%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5%;
}
.dream-big{
    display: flex;
    padding-top: 150px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.expreance{
    display: flex;
    padding: 10px 40px;
    box-shadow: 2px sandybrown;
}